---
import localStrings from '@locals/strings'

import Fab from '@components/Fab.astro'

import  { Language } from '@enums'
import  { BlogPost } from '@interfaces'

export interface Props {
  lang: Language
  post: BlogPost
}

const { lang, post } = Astro.props as Props
const {
  tags,
  urls,
  heroImage,
} = post.frontmatter

const componentStrings = localStrings[lang].component.BlogPost
---

<article class="BlogPost">
  <header class="BlogPost-header">
    {heroImage &&
    <img width="720" height="420" class="hero-image" loading="lazy" decoding="async" src={heroImage.url}
      alt={heroImage.alt} />
    }

    <dl class="BlogPost-meta">
      {tags &&
      <div class="BlogPost-meta-item">
        <dt>{componentStrings.meta_fields.tags}</dt>
        <dd>
          <ul class="BlogPost-meta-item-list">
            {tags.map((tag) =>
            <li class="BlogPost-meta-item-list-item">
              <a href={`/${lang}/blog?tag=${tag}`}>#{tag}</a>
            </li>
            )}
          </ul>
        </dd>
      </div>
      }
    </dl>
  </header>

  <div class="BlogPost-content">
    <post.Content />
  </div>

  {urls && urls.github &&
  <Fab action="link" url={urls.github} />}
</article>

{JSON.stringify(Astro.props)}

<style lang="scss">
  .BlogPost {
    margin-top: 2rem;
  }

  .BlogPost-meta {
    background: rgba(0 0 0 / 18%);
    border-radius: 10px;
    border: var(--theme-secondary) 0.8px solid;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .BlogPost-meta-item {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  .BlogPost-meta-item-list {
    list-style-position: inside;
    padding: 0;
  }

  .BlogPost-meta-item-list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.4em;
    }
  }
</style>