---
import BlogPostMeta from '@components/BlogPostMeta.astro'

import localStrings from '@locals/strings'

import  { Language } from '@enums'
import  { BlogPost } from '@interfaces'

export interface Props {
  lang: Language
  post: BlogPost
}

const { lang, post } = Astro.props as Props
const { heroImage } = post.frontmatter

const strings = localStrings[lang].component.BlogPostPreview
---

<div class="BlogPostPreview">
  {heroImage?.url &&
  <picture class="BlogPostPreview-media">
    <img src={heroImage.url} />
  </picture>
  }

  <h3 class="BlogPostPreview-title">{post.title}</h3>
  <p class="BlogPostPreview-content">
    {post.introParagraph && post.introParagraph?.length > 140
      ? post.introParagraph.substring(0,127) + '...'
      : post.introParagraph
    }
    {post.introParagraph && post.introParagraph.length > 140 &&
      <a href={new URL(post.url, Astro.site)}><i>{strings.link_out}</i></a>
    }
  </p>

  <BlogPostMeta lang={lang} post={post} />
</div>

<style lang="scss">
  .BlogPostPreview {
    position: relative;
    background: linear-gradient(rgba(0 0 0 / 0.2),
        rgba(0 0 0 / 0.6) 15%,
        rgba(0 0 0 / 0.8) 25%,
        rgba(0 0 0 / 0.8) 90%,
        rgba(0 0 0 / 0.6) 100%);
    border-radius: 10px;
    box-shadow: 1px 2px 5px 2px var(--theme-background-box-shadow);

    padding: 1rem;
    margin: 0 auto 1.6rem;
    max-width: 70ch;

    display: block;
    text-decoration: none;
    overflow: hidden;
  }

  .BlogPostPreview>picture>img,
  .BlogPostPreview>video,
  .BlogPostPreview>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
</style>