---
import BaseHead from '@components/BaseHead.astro'

import { Language } from '@enums'

export function getStaticPaths() {
  const languages = Object.values(Language)
  return languages.map((lang: Language) => ({ params: { lang } }))
}

const { lang = Language.EN } = Astro.props
const { title, description, publishDate, author, heroImage, permalink, alt } = Astro.props.content
---

<!DOCTYPE html>
<html lang={lang}>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css" />
  <BaseHead {lang} {title} {description} {permalink} />
</head>

<body>
  <main>

  </main>
</body>

</html>