---
import 'modern-normalize/modern-normalize.css'
import '@styles/main.scss'

import localContent from '@locals/data'

import BaseHead from '@components/BaseHead.astro'
import BaseHeader from '@components/BaseHeader.astro'

import { Language } from '@enums'

export interface Props {
  page: string
  lang?: Language
  title?: string
  description?: string
}

const { lang, page, title, description } = Astro.props as Props
const content = localContent[lang]
---

<!DOCTYPE html>
<html {lang} data-theme="light">
<BaseHead {lang} {page} {title} {description} />

<body>
  <BaseHeader {lang} {page} />
  <main>
    <slot />
  </main>
</body>

</html>